# Choisir le type de BDD : mysql, pgsql, sqlite, mariadb
#DB_CONNECTION=mysql

# Configuration pour MySQL/MariaDB/PostgreSQL
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=donald
DB_USERNAME=dev
DB_PASSWORD=dev
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci
DB_PREFIX=



# Configuration pour SQLite (si utilisée, DB_DATABASE doit être un chemin vers un fichier)
# Exemple : /chemin/vers/database.sqlite
